---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    .column {
      float: left;
    }

    .left {
      width: 25%;
    }

    .right {
      width: 75%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <body>
    {% include masthead.html %}
      <main id="main" role="main">
        <div class="row">
          <div class="column">{% include sidebar.md %}</div>
          <div class="column">{{ content }}</div>
        </div>
      </main>
    <hr>
    {% include footer.html %}
  </body>
</html>
